{% extends 'article/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <h1>Страница про нас</h1>
    <h2>Для чего нужен этот сайт и что я на нем могу узнать?</h2>
     <p>Данный сайт создан для того, чтобы каждый желающий смог ознакомиться с возможностями и созданием нейронных сетей.
        На нем вы сможете узнать как создаются нейронные сети, какие виды существуют на данныйм момент и для чего они вообще нужны.</p>
    {% if info %}
          {% for el in info %}
                <img src="{{el.cover.url}}">
          {% endfor %}
    {% endif %}
{% endblock %}
