<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
      .outline{
        border: 1px solid black;
        vertical-align: top;
        margin: 0 auto;
        text-align: center;
        margin-left: 20%;
        margin-top: 5px;
      }
      li{
        list-style-type: none;
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.youtube.com/watch?v=16y1AkoZkmQ">Коротко об AI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'home'%}>Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'about'%}>>О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/watch?v=iik25wqIuFo"> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
